openapi: 3.0.3
info:
  title: User API
  version: 0.1.0
paths:
  /users:
    get:
      operationId: listUsers
      summary: List users
      responses:
        '200':
          description: OK
    post:
      operationId: createUser
      summary: Create user
      responses:
        '201':
          description: Created
  /users/{id}:
    get:
      operationId: getUser
      summary: Get user
      responses:
        '200':
          description: OK
    delete:
      operationId: deleteUser
      summary: Delete user
      responses:
        '204':
          description: No Content
